//
//  AlkWorkspaceConfig.xcconfig
//  DataHandle
//
//  Created by Alkenso on 5/7/17.
//
//

SDK_3RD_PARTY = /usr/local // Path to 3rd party dependencies
SDK_PROCUCT = $(PROJECT_DIR)/install // Path to build products

SDK_3RD_PARTY_INCLUDE_PATH = $(SDK_3RD_PARTY)/include
SDK_3RD_PARTY_LIB_PATH = $(SDK_3RD_PARTY)/lib/$(CONFIGURATION)

SDK_PROCUCT_INCLUDE_INSTALL_PATH = $(SDK_PROCUCT)/include/$(PRODUCT_NAME)
SDK_PROCUCT_LIB_INSTALL_PATH = $(SDK_PROCUCT)/lib/$(CONFIGURATION)

SDK_PROCUCT_INCLUDE_PATH = $(SDK_PROCUCT)/include
SDK_PROCUCT_LIB_PATH = $(SDK_PROCUCT)/lib/$(CONFIGURATION)
